.map-pineapple-image {
  width: 40px;
  height: 50px;
}

.map-pineapple-image:hover {
  width: 50px;
  height: 60px;
}

.map-marker-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.map-marker-popup {
  border-radius: 12px;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.map-marker-popup > img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.map-marker-popup-title {
  font-weight: 600;
}

.map-container {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.map-sidebar-container {
  background: #252b3d;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  flex-direction: row;
  overflow: auto;
  gap: 1rem;
  padding: 10px;
  max-width: 100%;
}

.map-map-container {
  /* width: 100%; */
  flex: 1.5;
}

.map-booking-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 250px;
  height: 320px;
  border-radius: 12px;
  padding: 5px 10px;
}

.map-booking-container > div {
  width: 100%;
}

.map-booking-container-image {
  width: 100%;
  height: 130px;
}
.map-booking-container-image > img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  padding: 2px;
}

.map-booking-container-location {
  font-weight: 600;
  border-bottom: 0.5px solid #1b202c;
  padding-bottom: 5px;
}

.map-booking-container-host {
  background: #252b3d;
  border-radius: 25px;
  padding: 5px;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map-booking-container-host > small {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-booking-container-host > small > img {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.map-booking-container-reserved {
  display: flex;
  width: 100%;
}

.map-booking-container-reserved > small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
}

.map-booking-container-title {
  height: 38px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px
}

.map-booking-container-date {
  padding: 3px
}

.map-booking-container-price {
  padding: 3px;
}

.map-booking-container-title > small {
  font-weight: 600;
  font-size: 14px;
}

.map-booking-container:hover {
  background: #f53e3e;
  cursor: pointer;
}

.mapbox-search-bar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

.mapbox-search-and-filters {
  background: whitesmoke;
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #0000006b;
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 80%);
}

.map-filter-and-reset {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .map-container {
    flex-direction: column;
  }
  .map-sidebar-container {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: none;
  }
  .map-map-container {
    width: 100%;
    height: 100%;
    order: -1;
  }
  .map-filter-and-reset {
    flex-direction: column;
  }
}
