.map-pineapple-image {
  width: 40px;
  height: 50px;
}

.map-pineapple-image:hover {
  width: 50px;
  height: 60px;
}

.map-marker-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}


.map-marker-popup {
  background: transparent;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.map-container {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.map-sidebar-container {
  /* float: left; */
  background: #16202c;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  gap: 1rem;
  /* border: 2px solid red; */
  padding: 1rem;
}

.map-map-container {
  /* width: 100%; */
  flex: 1;
}

.map-booking-container {
  display: flex;
  color: #f2f2f2;
  width: 100px;
  max-height: 200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 20px;
  padding: 5px 10px;
}

.map-booking-container:hover {
    background: #f53e3e;
    cursor: pointer;
}

.map-searchBar-input {
  width: 600px;
  background-color: white;
  border: 1px solid palegreen
}
