.map-pineapple-image {
  width: 20px;
  height: 30px;
}

.map-pineapple-image:hover {
  width: 23.33px;
  height: 35px
}

.map-marker-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}


.map-marker-popup {
  background: transparent;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.map-container {
  display: flex;
  flex: 1;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
.map-sidebar-container {
  float: left;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  gap: 1rem;
  border: 2px solid red;
  padding: 1rem;
}

.map-map-container {
  width: 100%;
}

.map-booking-container {
  display: flex;
  width: 100px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px 20px;
}

.map-booking-container:hover {
    background: #f2f2f2;
    cursor: pointer;
}

