.login-form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    width: 100%;
}

.login-email-and-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.7em;

}

#login-form-title {
    text-align: center;
  }

.login-email {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.login-password {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#login-button {
    text-align: center;
}

.login-to-sign-question {
    text-align: center;
    padding-top: 5px;
    font-size: 10px;
}