.memberBooking-container {
    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: space-evenly;
    height: 100%;
    padding: 20px 40px;
    background: #1b202c;
}

.memberBooking-allInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    background: white;
    border-radius: 25px;
    padding: 10px 20px;
    gap: 1rem;
}

.memberBooking-images-title {
    display: flex;
    flex-direction: column;
    background: rgb(236, 193, 189);
    min-width: 650px;
    padding: 10px 20px;
}

.memberBooking-experience-shortDetails {
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    padding: 10px 20px;
}

.memberBooking-experience {
    display: flex;
    flex-direction: column;
    background: ivory;
    min-width: 650px;
    gap: 1rem;
    padding: 10px 20px;
}

.memberBooking-form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 80px;
    border: 1px solid black;
    border-radius: 25px;
}

.memberBooking-form {
    border: 1px solid black;
    width: 400px;
    padding: 10px 20px;
    border-radius: 25px;
}

.memberBooking-form-donation {
    display: flex;
    flex-direction: column;
}

.memberBooking-login-signup {
    color: red;
    width: 50%;
}
