.chefEvent-container {

    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.chefEvent-form {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    gap: .1em;
    min-width: 300px;
    width: 500px;

}

.chefEvent-form-divs {
    display: flex;
    flex-direction: column;
}

.chefs-allCards-container {
    display: flex;
    flex-direction: column;

}

.chefs-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chefs-page-banner {
    display: flex;
    flex-direction: column;
    background-color: ;
    align-items: center;

    padding: 2em;
}

.chefs-card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border: 1px solid black;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}

.chefs-card-bookingcards-container {
    max-width: 75vw;
    display: flex;
    overflow-x: auto;
    border-top: 1px solid rgb(208, 208, 208);
    padding: 1em;
    margin: 1em;
}

