body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.navbar-main {
  /* border: 2px solid red; */
}

.navbar-left {
  border: 1px solid blue;
}

.navbar-right {
  border: 1px solid green;
}

.authForm {
  border: 1px solid purple;
}



/* nav a {
  display: inline-block;
  margin: 1em;
} */

/* form div {
  margin: 1em;
  display: inline-block;
} */

#logo {
  width: 150px;
  height: 150px;
  margin: 1em 1em;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  align-items: center;
}

.form-control > * {
  margin: 3em;
}
