.searchBar-suggestionWrapper {
z-index: 2;

}
.searchBar-suggestion {
  cursor: pointer;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}
