.searchBar-suggestionWrapper {
  z-index: 2;
}
.searchBar-suggestion {
  cursor: pointer;
}

.search-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background-color: transparent;
  /* min-width: 100%; */
  width: 100%;
}
