#link-logo {
  width: 150px;
  /* height: 150px; */
  /* margin: 1em 1em; */
  text-align: center;
  margin: 0 auto;
}

#logo {
  width: 150px;
  /* height: 150px; */
  /* margin: 1em 1em; */
  text-align: center;
  margin: 0 auto;
}

.navbar-container {
  /* border: 4px solid red; */
  /* position: sticky;
  top: 0; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1B202C;
  color: #DFE2EA;
  z-index: 1;
  /* height: 100px; */
}

.navbar-left {
  /* border: 4px solid pink; */
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navbar-supper-club-name {
  /* border: 1px solid green; */
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #DFE2EA;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
  width: 150px;

}

#name {
  margin: 10px

}


.navbar-right {
  /* border: 4px solid purple; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.navbar-link-spacing {
  /* border: 2px solid yellow ; */
  margin: 25px;
}
