#link-logo {
  width: 100%;
  /* height: 150px; */
  /* margin: 1em 1em; */
  text-align: center;
  margin: 0 auto;
}

#logo {
  width: 100%;
  /* height: 150px; */
  /* margin: 1em 1em; */
  text-align: center;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #1b202c;
  color: #dfe2ea;
  flex: 1;
  z-index: 1;
  max-height: 90px;
}

.navbar-left {
  padding-left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  height: 100%;
  width: 100%;
  flex: 1;
}

.navbar-logo {
  height: 60px;
  width: 60px;
}

#name {
  margin: 0;
  width: 100%;
}

.navbar-supper-club-name {
  /* border: 1px solid green; */
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #dfe2ea;
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;
}

.navbar-right {
  /* border: 4px solid purple; */
  display: flex;
  flex: 1.5;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}

.navbar-smallScreen {
  display: none;
}

.navbar-link-spacing {
  /* border: 2px solid yellow ; */
  /* margin: 25px; */
}

@media screen and (max-width: 800px) {
  .navbar-smallScreen {
    display: flex;
  }
  .navbar-largeScreen {
    display: none;
  }
}
