.profileContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	text-align: center;
	
}

.cards {
	border: 2px grey solid;
	border-radius: 30px;
	width: 320px;
	height: 400px;
	margin: 10px;
	padding: 10px;
}

h3 {
    text-align: center;
}

.links {
    text-align: center;
    margin: auto;
    justify-content: center;
}

.food-image {
	
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	height: 213px;
	border-radius: 0.6rem 0.6rem .6rem;
	object-fit: cover;
  }

  p {
	height: 50px;
  }