.profileContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	text-align: center;
	margin-bottom: 20px;
}

.cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background: whitesmoke;
	border: 1px solid #1b202c;
	border-radius: 30px;
	width: 320px;
	height: 400px;
	/* margin: 10px; */
	padding: 10px;
	box-shadow: 5px 5px 17px -5px rgba(0,0,0,0.75);
	color: #1b202c;
}

.card-booking-title {
	border-bottom: 2px solid #1b202c;
}

.modal-cards {
	/* border: 2px grey solid; */
	/* position: relative; */
	/* display: flex; */
	flex-direction: column;
	border-radius: 12px;
	width: 320px;
	height: 400px;
	padding: 10px;
	margin: auto;
	justify-content: center;
	align-items: center;

}

.modal-cards-image {
	/* border: 2px grey solid; */
	border-radius: 12px;
	width: 100%;
	height: 100%;
	padding: 5px;
	justify-content: center;
	align-items: center;

}

h1 {
	margin: 20px 0;
}

h2 {
	margin: 0 0 0 0;
	padding-bottom: 1px;
}

h3 {
    text-align: center;
}

h4 {
	margin-top: 0;
}

hr {
	margin: 0 300px;
}

.links {
    text-align: center;
    margin: 0;
    justify-content: center;
		background-color: #252b3d;
		color: whitesmoke;
}

.food-image {

	margin-left: auto;
	margin-right: auto;
	width: 320px;
	height: 213px;
	border-radius: 0.6rem 0.6rem .6rem;
	object-fit: cover;
  }

  .bookingMenu {
	height: 70px;
  }

  modalCards {
	border: none;
  }
