.profileContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
	text-align: center;

}

.cards {
	border: 2px grey solid;
	border-radius: 30px;
	width: 320px;
	height: 400px;
	/* margin: 10px; */
	padding: 10px;
}

.modal-cards {
	/* border: 2px grey solid; */
	/* position: relative; */
	/* display: flex; */
	flex-direction: column;
	border-radius: 25px;
	width: 320px;
	height: 400px;
	padding: 10px;
	margin: auto;
	justify-content: center;
	align-items: center;

}

.modal-cards-image {
	/* border: 2px grey solid; */
	border-radius: 25px;
	width: 100%;
	height: 100%;
	padding: 5px;
	justify-content: center;
	align-items: center;

}

h3 {
    text-align: center;
}

.links {
    text-align: center;
    margin: auto;
    justify-content: center;
}

.food-image {

	margin-left: auto;
	margin-right: auto;
	width: 320px;
	height: 213px;
	border-radius: 0.6rem 0.6rem .6rem;
	object-fit: cover;
  }

  .bookingMenu {
	height: 70px;
  }

  modalCards {
	border: none;
  }
