

#signup-signup-form {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  width: 400px;
  /* border: 1px solid yellowgreen; */
  /* align-items: center; */
}

#signup-form-title {
  text-align: center;
}

.signup-role-selection {
  display: flex;
  flex-direction: column;
  width: 400px;
  /* border: 1px solid pink; */
}

.signup-first-name-and-last-name-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.signup-bio-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  /* border: 1px solid pink; */
}

#signup-button {
  text-align: center;
  /* margin: 10px; */
}

.signup-to-login-question {
  text-align: center;
  margin-top: 10px;
}